In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("Cust_Purch_FakeData.csv")

In [8]:
df

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,Mr.,John,Maxwell,larlisu@sejenu.ad,Female,38,Spherion Corp,Publishing Director,(873) 298-1178,V4U 0X2,YT,6330000000000000,04/2028,Visa Electron,90.37,Red,194.14.119.109,Sunday,am,04/18/2014
29996,Dr.,Alfred,Bass,le@duridzo.gh,Female,24,Ford Motor Co,Diamond Merchant,(541) 904-3323,T9O 1H6,PE,201000000000000,12/2026,American Express,5.94,White,154.114.74.254,Sunday,pm,09/27/2068
29997,Mrs.,Edward,Curtis,ta@kucemah.et,Female,56,Park Place Entertainment Corp,Executive Director,(375) 931-8605,X5Z 4E1,QC,201000000000000,06/2021,Maestro,65.66,Black,188.0.106.220,Monday,pm,09/07/1997
29998,Mr.,Max,Woods,li@mincoz.mp,Female,64,Nacco Industries Inc,University Administrator,(786) 481-9627,G0S 9Q8,NS,30000000000000,08/2023,Solo,52.66,Black,129.168.247.27,Monday,pm,09/08/1938
29999,Mr.,Olga,Rodriguez,ner@ota.ec,Male,22,Texas Industries Inc.,Leasing Manager,(841) 962-4087,N2D 5K3,BC,6300000000000000,05/2024,InstaPayment,17.71,Yellow,70.2.107.65,Wednesday,am,06/22/1956

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

In [5]:
df.columns

Index(['prefix', 'first', 'last', 'email', 'gender', 'age', 'company',
       'profession', 'phone', 'postal', 'province', 'cc_no', 'cc_exp',
       'cc_type', 'price(CAD)', 'fav_color', 'ip', 'weekday', 'ampm', 'date'],
      dtype='object')

In [6]:
df['age'].max()

65

In [7]:
df['age'].min()

18

In [8]:
df['age'].mean()

41.550066666666666

In [11]:
df['first'].value_counts().head(3)

first
Willie     130
Francis    124
Eula        86
Name: count, dtype: int64

In [14]:
df['phone'].value_counts().head(1)

phone
(263) 382-8004    2
Name: count, dtype: int64

In [9]:
df.head(1)

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930

In [38]:
df[df['profession'] == 'Structural Engineer'].count()

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

In [42]:
df[(df['gender'] == 'Male') & (df['profession'] == 'Structural Engineer')].count()

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

In [44]:
df[(df['gender']=='Female') & (df['profession']=='Structural Engineer') & (df['province']== 'AB')].count()

prefix        4
first         4
last          4
email         4
gender        4
age           4
company       4
profession    4
phone         4
postal        4
province      4
cc_no         4
cc_exp        4
cc_type       4
price(CAD)    4
fav_color     4
ip            4
weekday       4
ampm          4
date          4
dtype: int64

In [45]:
df.columns

Index(['prefix', 'first', 'last', 'email', 'gender', 'age', 'company',
       'profession', 'phone', 'postal', 'province', 'cc_no', 'cc_exp',
       'cc_type', 'price(CAD)', 'fav_color', 'ip', 'weekday', 'ampm', 'date'],
      dtype='object')

In [46]:
print("Max. spending:  ",df['price(CAD)'].max())
print("Min. spending:  ",df['price(CAD)'].min())
print("Avg. spending:  ",df['price(CAD)'].mean())

Max. spending:   100.0
Min. spending:   0.0
Avg. spending:   49.990775

In [10]:
df[df['price(CAD)']==0.0]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

In [48]:
df[df['price(CAD)']==100]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

In [49]:
df[df['cc_no']==5020000000000230]['email']

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

In [50]:
df[df['cc_exp'].apply(lambda x: x[5:]) == '19'].count()['first']

2684

In [51]:
df[df["cc_type"]=="Visa"].count()['first']

1721

In [52]:
df[df["cc_type"]=="Visa"].count()['first']

1721

In [53]:
df['profession'].value_counts().head(2)

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

In [12]:
list1 = []
for li in df['email']:
    list1.append(li.split('@')[1])

In [13]:
df['new_email'] = list1
df['new_email'].value_counts().head()

new_email
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

In [4]:
df.columns

Index(['prefix', 'first', 'last', 'email', 'gender', 'age', 'company',
       'profession', 'phone', 'postal', 'province', 'cc_no', 'cc_exp',
       'cc_type', 'price(CAD)', 'fav_color', 'ip', 'weekday', 'ampm', 'date'],
      dtype='object')

In [17]:
list2 = []
for li in df['email']:
    list2.append(li.split('@')[1])

In [20]:
df['email_two'] = list2
df[df['email_two'] == 'am.edu']

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,new_email,email_two
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,...,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066,am.edu,am.edu

In [23]:
df['weekday'].value_counts().head(1)

weekday
Saturday    4376
Name: count, dtype: int64